<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="${baseurl}styles/style.css" type="text/css" />
    <link rel="stylesheet" href="${baseurl}styles/blog.css" type="text/css" />

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="${rssurl}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata" />

    <style>
        #blog
        {
            opacity: 1.0 !important;
        }
    </style>
    <title>${Markup(title)}</title>
  </head>
  <body class="index">
    <xi:include href="button-bar.html" />

    <py:if test="nextPage != ''"><div class="navwrapperl"><a class="nav" href="${nextPage}" title="Older Posts">&larr;</a></div></py:if>
    <py:if test="previousPage != ''"><div class="navwrapperr"><a class="nav" href="${previousPage}" title="Newer Posts">&rarr;</a></div></py:if>

    <table id="posts" border="0" width="100%">
    <py:if test="showTitle">
    <tr>
        <td></td>
        <td class="post">
            <div id="catTitle">
                ${Markup(title)}
            </div>
        </td>
        <td></td>
    </tr>
    </py:if>
    <tr>
        <td></td>
        <td class="post">${Markup(content)}</td>
        <td></td>
    </tr>
    </table>
  </body>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-86821-5");
  pageTracker._setDomainName(".hortona.com");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</html>