<div><div id="buttonbar">
    Amy's Blog Title
</div><div id="subbuttonbar">
    <table width="100%">
        <tr align="center">
            <td>
            </td>
            <td><a id="blogButton" class="button selectedButton" href="#">blog</a></td>
            <td><a id="projectsButton" class="button" href="#">projects</a></td>
            <td><a id="picturesButton" class="button" href="#">pictures</a></td>
            <td><a id="aboutButton" class="button" href="#">about</a></td>
            <td>
            </td>
        </tr>
    </table>
</div></div>