<div><div id="buttonbar">
    RockerMonkey
</div><div id="subbuttonbar">
    <table width="100%">
        <tr align="center">
            <td>
            </td>
            <td><a id="blogButton" class="button" href="${blogurl}">blog</a></td>
            <td><a id="projectsButton" class="button" href="${baseurl}placeholder.html">projects</a></td>
            <td><a id="picturesButton" class="button" href="${baseurl}placeholder.html">pictures</a></td>
            <td><a id="aboutButton" class="button" href="${baseurl}about.html">about</a></td>
            <td>
            </td>
        </tr>
    </table>
</div></div>