body
{
    background-color: #fffaff;
    font-family: 'Myriad Pro', 'Calibri', 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    margin: 0px;
}

a
{
    color: #38e;
    text-decoration: none;
}

a:hover
{
    color: #27d;
    text-decoration: underline;
}

img
{
    border: 0px;
}

h1
{
    color: #fffaff;
    font-weight: bold;
    font-size: 1.5em;
    text-align: right;
    text-shadow: #000 1px 1px 1px;
    margin: -23px -23px -5px -20px;
    padding: 14px 12px 12px 12px;
    background: #75507b;

    -moz-border-radius: 8px 20px 8px 20px;
    -webkit-border-radius: 8px 20px 8px 20px;
    border-radius: 0px 20px 0px 20px !important;

    float: right;
}

h1>a
{
    color: #fffaff;
}

h1>a:hover
{
    color: #fffaff;

    cursor: pointer;
    opacity: 0.6;

    text-decoration: none;
}

h2
{
    color: #888;
    font-weight: normal;
    font-size: 0.9em;
    margin: 0px;
}

li
{
    padding-bottom: 0.6em;
}

#posts
{
    width: 100%;
}

div.postContent
{
    -moz-border-radius: 8px 20px 8px 20px;
    -webkit-border-radius: 8px 20px 8px 20px;
    border-radius: 8px 20px 8px 20px !important;
    color: #444;
    font-size: 0.8em;
    background-color: #fff;
    width: 600px;
    padding: 20px 20px 5px 20px;
    margin: 0px 0px 20px 0px;
    line-height: 1.5em;
    text-align: justify;


    border: 3px solid #75507b;
}

#buttonbar
{
    margin: 0px auto 0px auto;
    padding: 18px 25px 15px 25px;

    width: 650px;

    background: #75507b;

    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px !important;
    border: 3px solid #ad7fa8;
    border-top: 0px;
    color: #fffaff;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
    text-shadow: #000 1px 1px 1px;
}

#subbuttonbar
{
    margin: -3px auto 20px auto;
    padding: 5px 25px 5px 25px;

    width: 590px;

    background: #75507b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75507b', endColorstr='#ad7fa8');
    background: -webkit-gradient(linear, left top, left bottom, from(#75507b), to(#ad7fa8));
    background: -moz-linear-gradient(top,  #75507b,  #ad7fa8);

    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px !important;
    border: 3px solid #ad7fa8;
    border-top: 0px;
    color: #fffaff;
    font-weight: normal;
    font-size: 1.2em;
    text-align: right;
    text-shadow: #000 1px 1px 1px;
}

a.button
{
    color: #fffaff;
    cursor: pointer;
    opacity: 0.6;
    float: none !important;
    display: inline-block;
}

a.button:hover
{
    color: #fffaff;
    opacity: 1.0;
    text-decoration: none;
}

a.selectedButton
{
    color: #fffaff;
    opacity: 1.0;
    font-style: italic;
}

pre
{
    font-family: 'Inconsolata', 'Droid Sans Mono', 'Courier New', monospace;
    font-size: 1.2em;
    padding: 1em 0.5em;
    border: 1px solid #ddd;
    margin: 0px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}